---
import Layout from "../../components/Layout.astro";

const categories = ["Painting", "Scuplture", "Digital Art", "Film", "Drawing"];
---

<Layout>
  <article
    class="dark:text-white text-black space-y-2 mx-auto max-w-7xl px-8 md:px-16"
  >
    <h1
      class="flex w-full text-center items-center uppercase font-black md:text-6xl text-4xl dark:text-white text-black"
    >
      Art
      <img
        src="/Icon.svg"
        class="md:h-12 h-8 transition hover:rotate-180 duration-200"
        alt="HampHack Lightning Bolt"
      />
    </h1>

    <p>Art is a creative and unique way to express yourself.</p>

    <p>
      We&apos;re looking for art that expresses something in a creative way.
    </p>

    <p>Here&apos;s some categories to get you started:</p>

    <ul class="list-disc list-inside px-4">
      {categories.map((category) => <li>{category}</li>)}
    </ul>
  </article>
</Layout>
