---
import Layout from "../../components/Layout.astro";

const categories = [
  "Robotics",
  "Life Hacks",
  "Community",
  "Environmentalism",
  "Hardware Hacking",
];
---

<Layout>
  <article
    class="dark:text-white text-black space-y-2 mx-auto max-w-7xl px-8 md:px-16"
  >
    <h1
      class="flex w-full text-center items-center uppercase font-black md:text-6xl text-4xl dark:text-white text-black"
    >
      Engineering
      <img
        src="/Icon.svg"
        class="md:h-12 h-8 transition hover:rotate-180 duration-200"
        alt="HampHack Lightning Bolt"
      />
    </h1>

    <p>Engineering is a creative way to solve problems in the real world.</p>

    <p>
      We&apos;re looking for projects that use engineering to solve real world
      problems in a creative and unique way.
    </p>

    <p>Here&apos;s some categories to get you started:</p>

    <ul class="list-disc list-inside px-4">
      {categories.map((category) => <li>{category}</li>)}
    </ul>
  </article>
</Layout>
