---
import Layout from "../components/Layout.astro";
---

<Layout>
  <h1
    class="flex w-full text-center justify-center items-center uppercase font-black md:text-6xl text-4xl dark:text-white text-black"
  >
    Budget
    <img
      src="/Icon.svg"
      class="md:h-12 h-8 transition hover:rotate-180 duration-200"
      alt="HampHack Lightning Bolt"
    />
  </h1>

  <section
    id="budget"
    class="dark:text-white text-black space-y-2 mx-auto max-w-7xl px-8 md:px-16"
  >
    <iframe
      class="airtable-embed"
      src="https://airtable.com/embed/shrTyjJ9sCAgNEsSN?backgroundColor=green&viewControls=on"
      frameborder="0"
      width="100%"
      height="533"
      style="background: transparent; border: 1px solid #ccc;"></iframe>
  </section>
</Layout>
