---
import Layout from "../components/Layout.astro";
import * as Document from "../Code of Conduct.md";
---

<Layout>
  <style lang="scss" is:global>
    h1 {
      @apply text-4xl font-bold;
    }

    h2 {
      @apply text-3xl font-bold;
    }

    a {
      @apply text-blue-500;
    }

    li {
      @apply mb-2;
    }

    ul {
      @apply list-disc list-inside;
    }
  </style>
  <section
    id="policy"
    class="dark:text-white text-black py-8 space-y-2 mx-auto max-w-7xl px-8 md:px-16"
  >
    <a href="/" class="text-blue-500">← Go back</a>
    <Document.Content />
  </section>
</Layout>
