---
import Layout from "../components/Layout.astro";
---

<Layout>
  <h1
    class="flex w-full text-center justify-center items-center uppercase font-black md:text-6xl text-4xl dark:text-white text-black"
  >
    Donate
    <img
      src="/Icon.svg"
      class="md:h-12 h-8 transition hover:rotate-180 duration-200"
      alt="HampHack Lightning Bolt"
    />
  </h1>

  <section
    id="donate"
    class="dark:text-white text-black space-y-2 mx-auto max-w-7xl px-8 md:px-16"
  >
    <p>
      Thank you for wanting to donate! Please follow this link:
      <a
        href="https://donate.hampshire.edu"
        target="_blank"
        class="text-green-50">https://donate.hampshire.edu</a
      >
    </p>

    <p>
      Where it asks &quot;Why do you support Hampshire?&quot;, please enter
      &quot;To Support HampHack&quot;, so the money goes to the right place.
    </p>
  </section>
</Layout>
