---
import { ArrowDownIcon } from "@heroicons/react/24/outline";
import Layout from "../components/Layout.astro";
import Twemoji from "../components/Twemoji";
---

<Layout>
  <div class="px-2.5 py-32 flex-col justify-center items-center gap-8 flex">
    <div class="inline-flex flex-col justify-start items-center gap-4">
      <h1
        class="relative overflow-hidden inline-block align-bottom font-mono text-8xl text-white gradient"
      >
        Build Something Cool
      </h1>
      <span class="text-center text-white text-2xl font-black">at</span>
      <h1
        class="flex w-full text-center justify-center items-center uppercase font-black md:text-6xl text-4xl text-white"
      >
        Hamp
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1080 1080"
          class="md:h-12 h-8"
          aria-label="HampHack Lightning Bolt"
        >
          <defs>
            <style>
              .c {
                fill: #61ff61;
              }
            </style>
          </defs>
          <g id="a">
            <path
              class="c"
              d="M890.57,404.25h-278.6c-15.11,0-27.36-12.25-27.36-27.36V27.41c0-27.84-36.72-37.89-50.91-13.95L165.89,634.44c-10.8,18.24,2.34,41.31,23.54,41.31H468.03c15.11,0,27.36,12.25,27.36,27.36v349.48c0,27.84,36.72,37.89,50.91,13.95L914.11,445.56c10.8-18.24-2.34-41.31-23.54-41.31Z"
            >
            </path>
          </g>
          <g id="b"></g>
        </svg>
        Hack
      </h1>
    </div>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSf2ozqZ9vJpGBHVP7DfQ80xmVKKqDc4LE-ui5s3DGVOlOYlLA/viewform"
      target="_blank"
      rel="noopener noreferrer"
      class="px-6 py-2 rounded-xl bg-green text-black hover:text-white hover:border-green border-4 border-transparent hover:bg-transparent transition-colors duration-200 justify-center items-center gap-2.5 inline-flex"
    >
      <div class="text-2xl font-normal font-mono">Register Now</div>
    </a>

    <div class="flex-col justify-center items-center gap-3 inline-flex">
      <div class="text-center text-white text-xl font-black">
        {
          new Intl.DateTimeFormat("en-US", {
            dateStyle: "medium",
            timeStyle: "short",
          }).format(new Date("2024-10-12T12:00:00-04:00"))
        } - {
          new Intl.DateTimeFormat("en-US", {
            dateStyle: "medium",
            timeStyle: "short",
          }).format(new Date("2024-10-13T12:00:00-04:00"))
        }
      </div>
      <div class="text-center text-white text-xl font-black">
        R.W. Kern Center, Hampshire College
      </div>
    </div>

    <div
      class="flex-col justify-end items-center gap-2.5 inline-flex md:mt-36 mt-12"
    >
      <div class="flex-col justify-center items-center gap-2 flex">
        <div class="text-white text-2xl font-normal font-mono">Read More</div>
        <ArrowDownIcon className="text-white h-6 w-6 animate-bounce" />
      </div>
    </div>

    <div
      class="px-2.5 py-16 flex-col justify-start items-center gap-12 inline-flex"
    >
      <div class="flex-col justify-start items-center gap-3 flex">
        <span class="text-center text-white text-2xl font-black"
          >HampHack is</span
        >
        <h1
          class="text-white md:text-7xl text-4xl text-wrap font-normal font-mono text-center max-w-5xl"
        >
          An Interdisciplinary Creative Event For All Skill Levels
        </h1>
      </div>
      <div
        class="p-2.5 justify-center md:flex-row flex-col md:gap-y-0 gap-2.5 flex max-w-7xl"
      >
        <div
          class="p-10 bg-neutral-800 flex-col w-full justify-start items-center gap-2.5 inline-flex"
        >
          <Twemoji className="w-32 h-32" width={128} height={128} emoji="ðŸ¤" />
          <div class="text-center text-white text-4xl font-normal font-mono">
            Form a Team
          </div>
          <div class="text-center text-white text-lg">
            Create one with friends or join one with strangers!
          </div>
        </div>
        <div
          class="p-10 bg-neutral-800 flex-col w-full justify-start items-center gap-2.5 inline-flex"
        >
          <Twemoji className="w-32 h-32" width={128} height={128} emoji="ðŸ¤”" />
          <div class="text-center text-white text-4xl font-normal font-mono">
            Propose Your Idea
          </div>
          <div class="text-center text-white text-lg">
            Think of something you want to make, optionally with help from one
            of our themes.
          </div>
        </div>
        <div
          class="p-10 bg-neutral-800 flex-col w-full justify-start items-center gap-2.5 inline-flex"
        >
          <Twemoji className="w-32 h-32" width={128} height={128} emoji="ðŸ—ï¸" />
          <div class="text-center text-white text-4xl font-normal font-mono">
            Make the Thing
          </div>
          <div class="text-center text-white text-lg">
            Now build it! You have 24 hours.
          </div>
        </div>
      </div>

      <div
        class="p-2.5 justify-center items-start md:flex-row flex-col gap-2.5 flex max-w-7xl w-full"
      >
        <div
          class="px-10 py-5 w-full bg-neutral-800 flex-col justify-start items-center gap-2.5 inline-flex"
        >
          <div class="text-center text-white text-4xl font-normal font-mono">
            Beginner?
          </div>
          <div class="text-center text-white text-lg">
            Awesome! Come learn<br />something new.
          </div>
        </div>
        <div
          class="px-10 py-5 w-full bg-neutral-800 flex-col justify-start items-center gap-2.5 inline-flex"
        >
          <div class="text-center text-white text-4xl font-normal font-mono">
            Familiar?
          </div>
          <div class="text-center text-white text-lg">
            Great! Lets expand your<br />horizons.
          </div>
        </div>
        <div
          class="px-10 py-5 w-full bg-neutral-800 flex-col justify-start items-center gap-2.5 inline-flex"
        >
          <div class="text-center text-white text-4xl font-normal font-mono">
            Experienced?
          </div>
          <div class="text-center text-white text-lg">
            Amazing! Show off your<br />talent, or help others.
          </div>
        </div>
      </div>
      <div class="flex-col justify-start items-center gap-3 flex">
        <div class="text-white md:text-7xl text-4xl font-normal font-mono">
          FAQ
        </div>
      </div>
      <div
        class="self-stretch px-2.5 py-2.5 flex-col justify-start items-center gap-4 flex max-w-7xl"
      >
        <div
          class="self-stretch px-10 py-5 bg-neutral-800 flex-col justify-center items-center gap-2.5 flex"
        >
          <div
            class="self-stretch text-center text-white md:text-5xl text-3xl font-normal font-mono"
          >
            I see &quot;Hack&quot; in the name. Is this about computers?
          </div>
          <div class="text-center text-white md:text-xl text-lg">
            Nope! We use the word &quot;Hack&quot; loosely. This is an event to
            show off your artistic, technological, or otherwise unique talents
            to make something cool!
            <br />
            For example, a team could create a game, which could require an artist,
            programmer, and musician.
          </div>
        </div>
        <div
          class="self-stretch px-10 py-5 bg-neutral-800 flex-col justify-center items-center gap-2.5 flex"
        >
          <div
            class="self-stretch text-center text-white md:text-5xl text-3xl font-normal font-mono"
          >
            I don&apos;t know how to code. Is this event right for me?
          </div>
          <div class="text-center text-white md:text-xl text-lg">
            Absolutely! You can learn some basics, or you can bring your skills
            to a team! We encourage beginners to come.
          </div>
        </div>
        <div
          class="self-stretch px-10 py-5 bg-neutral-800 flex-col justify-center items-center gap-2.5 flex"
        >
          <div
            class="self-stretch text-center text-white md:text-5xl text-3xl font-normal font-mono"
          >
            Will there be food?
          </div>
          <div class="text-center text-white md:text-xl text-lg">
            Yup! We&apos;ll be providing catered meals along with snacks and
            drinks. Let us know of any dietary restrictions in your
            registration. You&apos;re also welcome to bring your own food.
          </div>
        </div>
        <div
          class="self-stretch px-10 py-5 bg-neutral-800 flex-col justify-center items-center gap-2.5 flex"
        >
          <div
            class="self-stretch text-center text-white md:text-5xl text-3xl font-normal font-mono"
          >
            I have an accessibility need, will I be okay?
          </div>
          <div class="text-center text-white md:text-xl text-lg">
            We will try our best to accommodate to your needs. The event is
            taking place<br />at the R.W. Kern Center at Hampshire College.
            Please let us know what accommodations you may need ahead of time in
            your registration.
          </div>
        </div>
        <div
          class="self-stretch px-10 py-5 bg-neutral-800 flex-col justify-center items-center gap-2.5 flex"
        >
          <div
            class="self-stretch text-center text-white md:text-5xl text-3xl font-normal font-mono"
          >
            Are there any restrictions on who can participate?
          </div>
          <div class="text-center text-white md:text-xl text-lg">
            You must be over 18 or a college student. Nothing personal, just
            bureaucracy.
          </div>
        </div>
        <div
          class="self-stretch px-10 py-5 bg-neutral-800 flex-col justify-center items-center gap-2.5 flex"
        >
          <div
            class="self-stretch text-center text-white md:text-5xl text-3xl font-normal font-mono"
          >
            I have a question that isn&apos;t answered here.
          </div>
          <div class="text-center text-white md:text-xl text-lg">
            Send us an email at
            <a
              href="mailto:hamphack@hampshire.edu"
              class="text-blue-500 hover:underline"
              >
              hamphack@hampshire.edu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
