---
import Layout from "../components/Layout.astro";
---

<Layout>
  <header class="py-8 flex md:px-16 px-8  bg-black-400 max-w-7xl">
    <a href="/" class="text-blue-500">← Go back</a>

  </header>
  <section
    id="policy"
    class="text-white space-y-2 mx-auto max-w-7xl px-8 md:px-16"
  >
    <h1 class="font-bold text-2xl">Privacy Policy</h1>

    <p>Your privacy is important. We believe it's a human right.</p>

    <p>We only collect what we need to process registrations.</p>

    <p>Here's what we collect, and what we use it for:</p>

    <ol class="list-decimal list-inside">
      <li>
        Email
        <ul class="list-disc list-inside px-4">
          <li>Used to send you emails regarding the event</li>
          <li>
            If you accepted, to give to some sponsors for recruitment purposes
          </li>
        </ul>
      </li>
      <li>
        Phone Number
        <ul class="list-disc list-inside px-4">
          <li>Used to send you text messages regarding the event</li>
        </ul>
      </li>
    </ol>

    <p>
      We use
      <a
        href="https://airtable.com"
        target="_blank"
        rel="noopener noreferrer"
        class="text-blue-500 hover:text-blue-700"
      >
        Airtable
      </a>
      to store this information. Airtable is a secure, cloud-based database that
      we use to manage registrations. We do not share your information with anyone
      else.
    </p>
  </section>
</Layout>
