---
import Layout from "../components/Layout.astro";
---

<Layout>
    <h1
        class="flex w-full text-center justify-center items-center uppercase font-black md:text-6xl text-4xl dark:text-white text-black"
    >
        Soon
        <img
            src="/Icon.svg"
            class="md:h-12 h-8 transition hover:rotate-180 duration-200"
            alt="HampHack Lightning Bolt"
        />
    </h1>
</Layout>
