---
import Layout from "../components/Layout.astro";
---

<Layout>
    <section
        class="flex flex-wrap justify-center items-center w-full space-y-4 px-36"
    >
        <div class="flex justify-center w-full">
            <img
                src="/Icon.svg"
                class="md:h-12 h-8 transition hover:rotate-180 duration-200"
                alt="HampHack Lightning Bolt"
            />
        </div>
        <h1
            class="font-bold text-3xl w-full text-center dark:text-white text-black"
        >
            <span class="animated-underline"> Success!</span>
        </h1>

        <h2
            class="font-medium text-xl w-full text-center dark:text-white text-black"
        >
            You have successfully registered for HampHack 2023!
        </h2>

        <h3
            class="font-medium text-xl w-full text-center dark:text-white text-black"
        >
            Check your email for more information.
        </h3>
    </section>
</Layout>
