---
import { SEO } from "astro-seo";
import { Github, Discord } from "@icons-pack/react-simple-icons";
import { EnvelopeIcon } from "@heroicons/react/24/solid";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import "@fontsource/vt323/400.css";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="HampHack"
      description="HampHack is the Pioneer Valley's only interdisciplinary hackathon."
      openGraph={{
        basic: {
          title: "HampHack 2024",
          image: "/HampHack.png",
          url: "https://hamphack.hampshire.edu",
          type: "website",
        },
        image: {
          alt: "HampHack Logo",
        },
        optional: {
          description:
            "HampHack is the Pioneer Valley's only interdisciplinary hackathon.",
        },
      }}
    />
    <meta name="theme-color" content="#61ff61" />

    <style is:global>
      .animated-underline {
        @apply bg-gradient-to-r from-green-500 to-green-600  bg-[length:0px_6px] bg-left-bottom bg-no-repeat transition-[background-size] motion-reduce:bg-[length:100%_6px] motion-reduce:transition-none duration-500 motion-safe:hover:bg-[length:100%_6px] motion-safe:group-hover:bg-[length:100%_6px];
      }

      .gradient {
        @apply after:animate-underline-gradient after:bg-underline-gradient after:h-2 after:left-0 after:absolute after:bottom-0 after:w-[400%] after:will-change-transform after:-z-10;
      }
    </style>
  </head>
  <body
    class="bg-zinc-900 transition-colors duration-200 flex flex-col h-screen justify-between"
  >
    <main class="space-y-8">
      <slot />
    </main>

    <footer class="py-6 px-4 bg-neutral-900 flex justify-center">
      <div
        class="flex md:justify-between max-w-7xl w-full gap-y-2 justify-center flex-wrap md:flex-nowrap items-center self-stretch"
      >
        <div class="flex items-center gap-6">
          <svg
            aria-label="HampHack Lightning Icon"
            xmlns="http://www.w3.org/2000/svg"
            class="h-12"
            viewBox="0 0 1080 1080"
            ><defs
              ><style>
                .c {
                  fill: #61ff61;
                }
              </style></defs
            ><g id="a"
              ><path
                class="c"
                d="M890.57,404.25h-278.6c-15.11,0-27.36-12.25-27.36-27.36V27.41c0-27.84-36.72-37.89-50.91-13.95L165.89,634.44c-10.8,18.24,2.34,41.31,23.54,41.31H468.03c15.11,0,27.36,12.25,27.36,27.36v349.48c0,27.84,36.72,37.89,50.91,13.95L914.11,445.56c10.8-18.24-2.34-41.31-23.54-41.31Z"
              ></path></g
            ><g id="b"></g></svg
          >

          <a
            href="/code-of-conduct"
            class="font-mono text-white text-2xl animated-underline"
          >
            Code of Conduct
          </a>

          <a
            href="https://hcb.hackclub.com/donations/start/hamphack-ad92532b-a53e-4df2-9813-dddd79e2d6cc"
            rel="noreferrer"
            target="_blank"
            class="font-mono text-white text-2xl animated-underline"
          >
            Donate
          </a>

          <a
            href="https://github.com/HampHack"
            rel="noreferrer"
            target="_blank"
            class="font-mono text-white text-2xl"
          >
            <span class="sr-only">GitHub</span>
            <Github />
          </a>

          <!-- no discord yet -->

          <!-- <a
            href="https://discord.gg/5QZb3XZ"
            rel="noreferrer"
            target="_blank"
            class="font-mono text-white text-2xl"
          >
            <span class="sr-only">Discord</span>
            <Discord />
          </a> -->

          <a
            href="mailto:hamphack@hampshire.edu"
            rel="noreferrer"
            target="_blank"
            class="font-mono text-white text-2xl"
          >
            <span class="sr-only">Email</span>
            <EnvelopeIcon className="h-6" />
          </a>
        </div>

        <div class="text-white text-sm font-semibold">
          Fiscally sponsored by The Hack Foundation. Nonprofit EIN: 81-2908499.<br
          />© {new Date().getFullYear()} HampHack. All rights reserved.
          <a
            href="/privacy"
            class="text-green-50 hover:text-green-200 transition-colors duration-200 underline"
          >
            Privacy Policy</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
